@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}


body{
  background-color: hsl(47, 88%, 63%);
  width: 100vw; 
  height: 100vh;
  display: flex;
}

.blog-card-container{
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  width: 385px; 
  height: 522px;
  margin: auto; 
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 20px;

  display: flex; 
  flex-direction: column;
  gap: 30px; 

  box-shadow: 10px 10px 0px 0px rgb(0,0,0);
}

.blog-img-container{
  height: 200px;

  img{
    display: block;
    width: 100%; 
    object-fit: fill; 
    object-position: center center; 
    border-radius: 10px;
  }
}

.blog-body-container{
  flex: 1;
  display: flex; 
  flex-direction: column; 
}

.blog-card-tag{
  display: inline-block; 
  p{
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%); 
    display: inline-block;
    border-radius: 4px;
    padding: 6px 15px;
    text-align: left; 
    font-size: 14px;
    font-weight: 800;
  }
}

.blog-card-date{
  color: hsl(0, 0%, 7%); 
  padding: 10px 0px 15px 0px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
}

.blog-card-title{
  color: hsl(0, 0%, 7%); 
  font-weight: 800;
  cursor: pointer;

 a{  
  text-decoration: none;
  color: hsl(0, 0%, 7%);
  }
  
  a:hover, a:focus{
  color: hsl(47, 88%, 63%);
  }
}

.blog-card-description{
  color: hsl(0, 0%, 42%); 
  padding: 10px 0px 0px 0px;
  font-weight: 500;
  line-height: 150%;
  font-size: 16px;
}

.blog-card-user{
  padding: 10px 0px 0px 0px;
  flex: 1;

  display: flex;
  align-items: center;
  gap: 10px;

  img{
    width: 32px;
    height: 32px;
  }

  p{
  font-size: 14px;
  color: hsl(0, 0%, 7%); 
  font-weight: 800;
  }
}